<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevinpc.elistvoice">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>

    <uses-permission android:name="android.permission.VOICE_RECOGNITION"></uses-permission>

    <uses-permission android:name="android.permission.MIC"></uses-permission>

    <uses-feature android:name="android.hardware.microphone" android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kevinpc.elistvoice.Home" />
        </activity>
        <activity
            android:name=".FinalActivity"
            android:label="MEUS DADOS"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ProfileActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.kevinpc.elistvoice.Home" />
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>


    </application>

</manifest>